<template>
    <div class="my-3">
        <b-button v-b-modal.modal-1>Create New Product</b-button>
        <b-modal id="modal-1" ref="my-modal" title="BootstrapVue">
            <vee-form @submit="onSave" :validation-schema = "schema" > 
                <div class="form-group mb-4">
                    <label class="form-label" for="name">Name</label>
                    <vee-field 
                        type="text"  
                        name = "name"
                        class="form-control form-control-lg"
                        :class = "[{'is-invalid':errorFor('name')}]"
                    />
                    <v-errors :errors = "errorFor('name')"></v-errors>
                    <error-message class="text-danger" name="name" />
                </div>
                <div class="form-group mb-4">
                    <label class="form-label" for="price">Price</label>
                    <vee-field 
                        type="number"  
                        name = "price"
                        class="form-control form-control-lg"
                        :class = "[{'is-invalid':errorFor('price')}]"
                    />
                    <error-message class="text-danger" name="price" />
                </div>
                <!-- Submit button -->
                <button type="submit" :disabled = "isloding" class="btn btn-primary btn-lg btn-block">create new</button>
            </vee-form>
        </b-modal>
    </div>
</template>

<script>
import validationErrors from '@/shard/mixins/validationErrors';

export default {
    mixins: [validationErrors],
    data(){
        return {
            isloding: false,
            schema: {
                name: 'required',
                price: 'required',
            },
        }
    },
    methods: {
        async onSave(data){
            this.errors = null;
            this.isloding = true;
            try{
                await this.$http.post('/api/products',data);
                this.isloding = false;
                // this.$bvModal.hide(1);
                this.$toast.open({
                    message: `${data.name} product saved`,
                    type: 'success',
                });
                //close model.
            }catch(e){
                this.isloding = false;
                if(e.response.status == 422){
                    this.errors = e.response.data.errors;
                }
            }
        },
    }
};
</script>
