<template>
        <tr>
            <td>{{ id }}</td>
            <td>{{ name }}</td>
            <td>&#36;{{ price }}</td>
            <td>{{ dateForma(created_at) }}</td>  
            <td>{{ isUpdated }}</td>
            <td>
                <!-- <button class="btn btn-info" :to = "{name: 'editProduct', params: {id} }">edit</button> -->
                <b-button variant="danger" @click.prevent="$emit('onDelete',this.id)">delete</b-button>
            </td>            
            <td>
                <router-link :to = "{name:'editProduct', params: {id} }" class="btn btn-info">edit</router-link>
            </td>
        </tr>
</template>

<script>
import moment from 'moment';
export default {
    props: {
        id: Number,
        name: String,
        price: Number,
        created_at: String,
        updated_at: String,
    },
    methods:{
        dateForma(data){
            return moment(data).fromNow();
        },
    },
    computed: {
        isUpdated(){
            return this.created_at === this.updated_at 
                ?   ' ' 
                :   this.dateForma(this.updated_at);
        },
    },
} 
</script>
