<template>
    <div class="container">
        <div  v-if = "isLoading" class="d-flex justify-content-center my-auto">
            <loading-component></loading-component>
        </div>
        <div class="row justify-content-center" v-else>
            <h1 v-if = "notFound" class="text-center">Product Not Found</h1> 
            <div class="col-7" v-else>
                <h1 >Edit Product</h1>
                <vee-form @submit="onSave" :validation-schema = "schema" > 
                    <div class="form-group mb-4">
                        <label class="form-label" for="name">Name</label>
                        <vee-field 
                            type="text"  
                            name = "name"
                            v-model="product.name"
                            class="form-control form-control-lg"
                            :class = "[{'is-invalid':errorFor('name')}]"
                        />
                        <v-errors :errors = "errorFor('name')"></v-errors>
                        <error-message class="text-danger" name="name" />
                    </div>
                    <div class="form-group mb-4">
                        <label class="form-label" for="price">Price</label>
                        <vee-field 
                            type="number"
                            v-model = "product.price"  
                            name = "price"
                            class="form-control form-control-lg"
                            :class = "[{'is-invalid':errorFor('price')}]"
                        />
                        <error-message class="text-danger" name="price" />
                    </div>
                    <!-- Submit button -->
                    <button type="submit" :disabled = "isLoading"  class="btn btn-primary btn-lg btn-block">update</button>
                </vee-form>
            </div>
        </div>
    </div>
</template>

<script>
import validationErrors from '@/shard/mixins/validationErrors';
import { is404, is422 } from '@/shard/helpers/utils';

export default {
    mixins: [validationErrors],
    async created(){
        try{
            this.isLoading = true;
            const response = await this.$http.get('/api/products/'+this.$route.params.id);
            this.product = response.data;
            this.isLoading = false;
        }catch(e){
            if(is404(e)){
                this.status = e.response.status;
            }
            this.isLoading = false;
        }
    },
    data(){
        return {
            isLoading: false,
            product: null,
            status: null,
            schema: {
                name: 'required',
                price: 'required',
            },
        }
    },
    methods: {
        async onSave(data){
            this.errors = null;
            try {
                await  this.$http.put('/api/products/'+this.$route.params.id,data);
                //we can use vuex to solve this issue!!
                this.$router.push({name: 'products'},()=>{
                    this.$toast.open({
                        message: `${data.name} product updated`,
                        type: 'info',
                    });
                });
            } catch (e) {
                if(is422(e)){
                    this.errors = e.response.data.errors;
                }   
            }
        }
    },
    computed:{
        notFound() {
            return this.status === 404;
        },
    }
}
</script>
