<template>
    <div class="container">
        <div class="d-flex justify-content-center mt-4" v-if="isLoading">
            <loading-component></loading-component>
        </div>
        <div class="row d-flex justify-content-center" v-else>
            <div class="col-12">
                <h1 class="text-success text-center">All Products Page</h1>
                <create-product></create-product>                
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Product Name</th>
                            <th>Price</th>
                            <th>Created At</th>
                            <th>Updated At</th>
                            <th>Delete</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody> 
                        <product-list-item
                            v-for = "product in products"
                            v-bind = "product"
                            :key="product.id"
                            @on-delete = "onDelete"
                        />
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
import ProductListItem from '@/components/products/productListItem';
import CreateProduct from "@/components/products/createProduct";

export default {
    data() {
        return {
            products: null,
            isLoading: false,
        }
    },
    components: { 
        ProductListItem,
        CreateProduct,
     },
    created(){
        this.fetchProduct();
    },
     methods: {
        async fetchProduct(){
            try{
                this.isLoading = true;
                const response = await this.$http.get('/api/products');
                this.products = response.data;
                this.isLoading = false;
            }catch(e){
                console.log(e);
            }
        },
        async onDelete(id) {
            
            try{
                let response = await this.$http.delete('/api/products/'+id);
                let name = response.data.name;
                this.fetchProduct();
                this.$toast.open({
                    message: `${name} product deleted`,
                    type: 'error',
                });
            }catch(e){
               console.log(e);
            }

        }
     },
}
</script>
