<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sl-12">
                <h3>Create New Order</h3>
            </div>
        </div>
    </div>
</template>