<template>
    <div class="container">
        <div class="d-flex justify-content-center mt-4" v-if="isLoading">
            <loading-component></loading-component>
        </div>
        <div class="row d-flex justify-content-center" v-else>
            <div class="col-lg-11 col-md-12 col-sl-12">
                <h1 class="text-success text-center">All Orders Page</h1>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>amount</th>
                            <th>Products</th>
                            <th>Created At</th>
                            <th>Updated At</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <orders-list-item
                            v-for="(order,index) in orders"
                            v-bind="order"
                            :key="index"
                            @on-delete = "onDelete"
                        ></orders-list-item>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
import OrdersListItem from '@/components/orders/ordersListItem.vue';

export default {
  components: { 
        OrdersListItem,
    },
    created() {
        this.fetchOrders();
    },
    data(){
        return {
            orders: [],
            isLoading: false,
        }
    },
    methods: {
        async fetchOrders(){
            try{
                this.isLoading = true;
                const response = await this.$http.get('/api/orders');
                this.orders = response.data;
                console.log(this.orders);
                this.isLoading = false;
            }catch(e){
                console.log(e);
            }
        },
        async onDelete(id) {
            try{
                let response = await this.$http.delete('/api/orders/'+id);
                let firstname = response.data.firtsname;
                this.fetchOrders();
                this.$toast.open({
                    message: `order with firstname: ${firstname} is deleted`,
                    type: 'success',
                });
            }catch(e){
                console.log(e);
            }
        },
    },
};
</script>
