<template>
        <tr>
            <td>{{ id }}</td>
            <td>{{ firtsname }}</td>
            <td>{{ lastname }}</td>
            <td>&#36;{{ amount }}</td>
            <td>
                  <b-dropdown id="dropdown-1"  text="show details" class="m-md-2">
                    <b-dropdown-item>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Product Name</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Amount</th>
                                    <th>Created At</th>
                                </tr>
                            </thead>
                            <tbody>
                                <product-details
                                    v-for="(product,index) in products"
                                    :key="index"
                                    v-bind="product"
                                />
                            </tbody>
                        </table>    
                    </b-dropdown-item>
                </b-dropdown>
            </td>
            <td>{{ dateForma(created_at) }}</td>  
            <td>{{ isUpdated }}</td>
            <td>
                <b-button variant="danger" @click.prevent="$emit('onDelete',this.id)">delete</b-button>
            </td>            
        </tr>
</template>

<script>
import moment from 'moment';
import ProductDetails from './productDetails';

export default {
    components: {
        ProductDetails,
    },
    props: {
        id: Number,
        firtsname: String,
        lastname: String,
        amount: Number,
        products: Object,
        created_at: String,
        updated_at: String,
    },
    methods:{
        dateForma(data){
            return moment(data).fromNow();
        },
    },
    computed: {
        isUpdated(){
            return this.created_at === this.updated_at 
                ?   ' ' 
                :   this.dateForma(this.updated_at);
        },
    },
} 
</script>
