<template>
    <tr>
        <td>{{ product_id }}</td>
        <td>&#36;{{ price }}</td>
        <td>{{ quantity }}</td>
        <td>&#36;{{ amount }}</td>
        <td>{{ dateForma(created_at) }}</td>
    </tr>
</template>

<script>
import moment from 'moment';
export default {
    props: {
        order_id: Number,
        product_id: Number,
        price: Number,
        quantity: Number,
        created_at: String,
    },
    created() {
        // this.$http.
    },
    computed: {
        //use loadsh here.
        amount(){
            return this.price * this.quantity;
        },
    },
    methods: {
        dateForma(date){
            return moment(date).fromNow();
        },
        
    }
}
</script>
