<template>
  <div class="home">
    <BewebShopWelcome msg="Welcome to Your BewebShop.com App"/>
  </div>
</template>

<script>
// @ is an alias to /src
import BewebShopWelcome from '@/components/HelloWorld.vue'

export default {
  name: 'Home',
  components: {
    BewebShopWelcome,
  }
}
</script>
