<template>
<div >
    <nav class="navbar navbar-expand-lg border-bottom navbar-light bg-white mb-2">
        <router-link  class="navbar-brand" :to = "{name:'home'}" >Home</router-link> 
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <router-link  class="nav-link" :to = "{name:'home'}" >Home</router-link>
                </li>
                <li class="nav-item active" v-if = "!isLoggedIn">
                    <router-link  class="nav-link" :to = "{name:'login'}" >Login</router-link>
                </li>
                <li class = "nav-item active" v-if = "isLoggedIn">
                    <a  class="nav-link" href="#" @click.prevent = "logout" >Logout</a>
                </li>
                
                <li class="nav-item active">
                    <router-link  class="nav-link" :to = "{name:'products'}" >Products</router-link>
                </li>
                <li class="nav-item active">
                    <router-link  class="nav-link" :to = "{name:'orders'}" >Orders</router-link>
                </li>
            </ul>
        </div>
    </nav>
</div>
</template>