<template>
  <div>
    <app-header></app-header>
    <!-- <div class="container mt-2 mb-2 pr-4 pl-4"> -->
      <router-view></router-view>
    <!-- </div> -->
  </div>
</template>

<script>
import AppHeader from './components/HeaderComponent';

export default {
  components: {
    AppHeader,
  }
}
</script>

<style>

</style>
