<template>
<div class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6 top">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1 top">
        <vee-form @submit="onLogin" :validation-schema = "schema" >
          <app-alert v-if = "errorFor('message')">
            {{ errorFor('message') }}
          </app-alert>
          <!-- Email input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="email">Email address</label>
              <vee-field 
                  type="email" 
                  name = "email"
                  class="form-control form-control-lg"
                  :class = "[{'is-invalid' : errorFor('message')}]"
              />
              <error-message class="text-danger" name="email" />
            </div>
            <!-- Password input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="password">Password</label>
                <vee-field 
                  type="password"  
                  name = "password"
                  class="form-control form-control-lg"
                  :class = "[{'is-invalid':errorFor('message')}]"
                />
                <error-message class="text-danger" name="password" />
            </div>
            <!-- Submit button -->
            <button type="submit" :disabled = "isLoading" class="btn btn-primary btn-lg btn-block">Sign in</button>
        </vee-form>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import validationErrors from '@/shard/mixins/validationErrors';
import { logIn } from '@/shard/helpers/auth';

export default {
    mixins: [validationErrors],
    data(){
      return {
          isLoading: false,
          schema: {
            email: 'required|email',
            password: 'required'
          },
        }
    },
    created(){
      // console.log(process.env.VUE_APP_API_URL);
    },
    methods: {
      async onLogin(data){
        this.errors = null;
        this.isLoading = true;
        try{
          const response = await this.$http.post('/api/auth',data);
          logIn(response.data.token);
          this.isLoading = false;
          this.$router.push({name : "home"});
        }catch(e){
          this.isLoading = false;
          this.errors = e.response.data;
        }
      }
    }
}
</script>

<style scoped>
  .divider:after,
  .divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
  }
  .top {
    margin-top: -15rem;
  }
</style>